
    <div class="container">
        <div id="carousel">
            <figure class="vissible">
                <a href="#"  ng-click="redirect(home.products[0]['name'])">
                    <img src="{{home.products[0]['imagelink']}}">
                    <div class="priceNname not-phone">
                        <span class="fig-price">${{(home.products[0]['price']).toFixed(2)}}</span><br>
                        <span class="fig-name">{{home.products[0]['name']}}</span>
                    </div>
                </a>
            </figure>
            <figure>
                <a href="#"  ng-click="redirect(home.products[1]['name'])">
                    <img src="{{home.products[1]['imagelink']}}">
                    <div class="priceNname not-phone">
                        <span class="fig-price">${{(home.products[1]['price']).toFixed(2)}}</span><br>
                        <span class="fig-name">{{home.products[1]['name']}}</span>
                    </div>
                </a>
            </figure>
            <figure>
                <a href="#"  ng-click="redirect(home.products[2]['name'])">
                    <img src="{{home.products[2]['imagelink']}}">
                    <div class="priceNname not-phone">
                        <span class="fig-price">${{(home.products[2]['price']).toFixed(2)}}</span><br>
                        <span class="fig-name">{{home.products[2]['name']}}</span>
                    </div>
                </a>
            </figure>
            <figure>
                <a href="#"  ng-click="redirect(home.products[3]['name'])">
                    <img src="{{home.products[3]['imagelink']}}">
                    <div class="priceNname not-phone">
                        <span class="fig-price">${{(home.products[3]['price']).toFixed(2)}}</span><br>
                        <span class="fig-name">{{home.products[3]['name']}}</span>
                    </div>
                </a>
            </figure>
            <i class="fas fa-angle-left" id="back"></i>
            <i class="fas fa-angle-right" id="next"></i>
        </div>
    </div>