html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $text_color;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #fff;
}

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

a {
  color: $link-color;
  text-decoration: none;
}
// a:visited {
//   color: $link-visited-color;
// }
a:hover {
  text-decoration: underline;
}
