.right {
  float: right;
}

.left {
  float: left;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.shop-container {
  width: 100%;
}

@include extra-small-only {
  section {
    padding: 10px 0;
  }
}

@include small-and-above {
  .container {
    width: 750px;
  }
  .shop-container {
    width: 100%;
  }
  section {
    padding: 30px 20px;
  }
}

@include medium-and-above {
  .container {
    width: 970px;
  }
  .shop-container {
    width: 100%;
  }
}

@include large-only {
  .container {
    width: 1170px;
  }
  .shop-container {
    width: 100%;
  }
}

.phone {
  display: none;
}
.phone-table {
  display: block;
}

@include extra-small-only {
  .not-phone {
    display: none;
  }
  .phone-table {
    display: none;
  }
}

.nav-hide {
  display: none;
}

.vissible {
  display: block;
}

.price {
  color: $cart-red;
}