$main-blue: #2980b9;
$main-orange: #f39c12;
$text-color: #545454;
$link-color: #1a0dab;
$link-visited-color: #609;
$cart-red: #eb2f06;
$footer-gray: #495057;
$footer-border: #e6e6e6;
$mobile-nav-border: #e7e7e7;