<div id="carousel">
    <figure class="vissible">
        <a href="#"  ng-click="redirect(home.products[0]['name'])">
            <!-- <img src="{{home.products[0]['imageLink']}}" width="300px" height="300px"> -->
            <p>{{home.products[0]['imageLink']}}</p>
        </a>
    </figure>
    <figure>
        <a href="#"  ng-click="redirect(home.products[1]['name'])">
            <!-- <img src="{{home.products[1]['imageLink']}}" width="300px" height="300px"> -->
            <p>{{home.products[1]['imageLink']}}</p>
        </a>
    </figure>
    <figure>
        <a href="#"  ng-click="redirect(home.products[2]['name'])">
            <!-- <img src="{{home.products[2]['imageLink']}}" width="300px" height="300px"> -->
            <p>{{home.products[2]['imageLink']}}</p>
        </a>
    </figure>
    <figure>
        <a href="#"  ng-click="redirect(home.products[3]['name'])">
            <!-- <img src="{{home.products[3]['imageLink']}}" width="300px" height="300px"> -->
            <p>{{home.products[3]['imageLink']}}</p>
        </a>
    </figure>
</div>

<i class="fas fa-angle-left" id="back"></i>
<i class="fas fa-angle-right" id="next"></i>