<nav id="main-nav">
    <div class="container">
        <ul>
            <div class="phone bars">
                <i class="fas fa-bars"></i>
            </div>
            <li class="left">
                <a href="/" id="home">Grocery Cloud</a>
            </li>
            <div class="right mobile-menu nav-hide">
                <li class="left">
                    <a href="/shopping" id="shopping">Shop All</a>
                </li>
                <li class="left">
                    <div id="cart-container">
                        <a href="/cart" id="cart">
                            <div id="cart-qty">{{qty}}</div>
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>