
footer {
    border-top: 1px solid $footer-border;
    background-color: $footer-gray;
    @include clearfix;
    text-align: center;
    p {
        color: rgba(255, 255, 255, 0.836);
        margin: 0;
        @include footer-mixin;
    }
    ul {
        float: right;
        @include clearfix;
        @include extra-small-only {
            width: 100%;
            float: none;
        }
        li {
            @include clearfix;
            width: auto;
            @include footer-mixin;
        }
        a {
            color: rgba(255, 255, 255, 0.836);
        }
    }
}