.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@include small-and-above {
    .pull-right {
        float: right;
    }
    [class*="col-"] {
        float: left;
    }
  .sm-col-1 {
    width: 8.33%;
  }
  .sm-col-2 {
    width: 16.66%;
  }
  .sm-col-3 {
    width: 25%;
  }
  .sm-col-4 {
    width: 33.33%;
  }
  .sm-col-5 {
    width: 41.66%;
  }
  .sm-col-6 {
    width: 50%;
  }
  .sm-col-7 {
    width: 58.33%;
  }
  .sm-col-8 {
    width: 66.66%;
  }
  .sm-col-9 {
    width: 75%;
  }
  .sm-col-10 {
    width: 83.33%;
  }
  .sm-col-11 {
    width: 91.66%;
  }
  .sm-col-12 {
    width: 100%;
  }
}

@include medium-and-above {
  .md-col-1 {
    width: 8.33%;
  }
  .md-col-2 {
    width: 16.66%;
  }
  .md-col-3 {
    width: 25%;
  }
  .md-col-4 {
    width: 33.33%;
  }
  .md-col-5 {
    width: 41.66%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-7 {
    width: 58.33%;
  }
  .md-col-8 {
    width: 66.66%;
  }
  .md-col-9 {
    width: 75%;
  }
  .md-col-10 {
    width: 83.33%;
  }
  .md-col-11 {
    width: 91.66%;
  }
  .md-col-12 {
    width: 100%;
  }
}

@include large-only {
  .lg-col-1 {
    width: 8.33%;
  }
  .lg-col-2 {
    width: 16.66%;
  }
  .lg-col-3 {
    width: 25%;
  }
  .lg-col-4 {
    width: 33.33%;
  }
  .lg-col-5 {
    width: 41.66%;
  }
  .lg-col-6 {
    width: 50%;
  }
  .lg-col-7 {
    width: 58.33%;
  }
  .lg-col-8 {
    width: 66.66%;
  }
  .lg-col-9 {
    width: 75%;
  }
  .lg-col-10 {
    width: 83.33%;
  }
  .lg-col-11 {
    width: 91.66%;
  }
  .lg-col-12 {
    width: 100%;
  }
}
