.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 5px 13px;
    border: 1px solid darken($color: $mobile-nav-border, $amount: 20);
    font-size: 150%;
    color: darken($color: $mobile-nav-border, $amount: 20);
    @include extra-small-only {
        display: block;
    }
}