<section id="cart-section">
    <div class="row">
        <div class="sm-col-8">
            <h3>Shopping Cart</h3>

            <table ng-if="cart.cart.length != 0">
                <thead>
                    <tr>
                        <th class="img-div">image</th>
                        <th>name</th>
                        <th>unit price</th>
                        <th>qty</th>
                        <th class="phone-table">cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in cart.cart">
                        <td>
                            <div class="img-div">
                                <img src="{{product['image']}}">
                            </div>
                        </td>
                        <td>{{product['name']}}</td>
                        <td class="price">&#8358;{{product['unitPrice']}}</td>
                        <td>
                            <input type="number" ng-init="qty=product['qty']" class="qty" ng-model="qty" ng-change="cart.updateQty($index, qty, product)"
                                min="1">
                        </td>
                        <td class="price  phone-table">&#8358;{{(product.unitPrice * qty).toFixed(0)}}</td>
                        <td>
                            <i ng-click="cart.removeFromCart(product)" class="fas fa-times-circle delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="cart.cart.length == 0" class="empty-cart">
                <div class="cart-svg">
                    <i class="ion-ios-cart-outline"></i>
                </div>
                <div>
                    <p>Shopping cart is empty, continue shopping &nbsp;&nbsp;<a href="/shopping" class="btn"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Shop All</a></p>
                </div>
            </div>
        </div>

        <div class="sm-col-4">
            <h3 id="details-head">Enter Shipping Details</h3>
            <form name="form" ng-submit="cart.checkout()">
                <input type="text" required="required" placeholder="Name" ng-model="cart.details.name">
                <br/>
                <input type="text" required="required" placeholder="Address" ng-model="cart.details.address">
                <br/>
                <input type="text" required="required" placeholder="City" ng-model="cart.details.city">
                <br/>
                <input type="text" required="required" placeholder="Phone Number" ng-model="cart.details.phone">
                <br/>
                <p>Subtotal: <span class="price">&#8358;{{cart.subtotal}}</span></p>
                <p>Shipping: <span class="price">&#8358;{{cart.shipping}}</span></p>
                <p>Tax(10%): <span class="price">&#8358;{{cart.tax}}</span></p>
                <p >Total: <span class="price">&#8358;{{cart.total}}</span></p>
                <input class="btn right" type="submit" ng-disabled="cart.total == 0" value="Checkout">
            </form>
        </div>
    </div>
    <top-directive></top-directive>
</section>